@import './general';

.logo{
    margin: 15px auto;
    width: 70%;   
}

ul li{    
    list-style: none;
    width: 100%;
    padding: 10px 0;
    display: flex;
    transition-property: all;
    transition-duration: 1s;
    
    }

ul li:hover{
    transform: scale(1.3);
}
a{
    font-size: large;
    text-align: center;
    width:100%;
    text-decoration: none;
    color: aliceblue;
    font-family: 'Paytone One', sans-serif;
}

header{
    background-color: red;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    margin-top: auto;
    padding: 0.5em 0;
    background-color: red;
}

main{
    text-align: center;
    margin-top: 1em;
}
h1{
    margin: 0.5em 0;
    font-weight: bolder;
    font-size: 35px;
}

.img_main{
    margin-bottom: 25px;
    width: 80%;
}

.p-index{
    margin: 0.5em 1.5em;
    text-align: justify;
}

hr{
    color: red;
}
.art-index{
    margin: 25px 0;
    text-align: center;
}

.img_film{
    margin: 25px 0;
    width: 80%;
}

.redes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

form{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    font-family: 'Paytone One', sans-serif;
}
input, textarea{
    width: 100%;
}

.form-floating{
    width: 90%;
    color:rgb(6, 12, 12);
}

#floatingTextarea{
    margin: 0;
    height: 250px;
}

.grilla-tripulacion{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.card{
    margin: 10px 15px;
    background-color: black;
    width: 90%;
    align-items: center;
    border: 3px solid white;
    border-radius: 3%;

}

.card img{
    margin-top: 10px;
    width: 85%;
    border-radius: 5%;
}

.card-title{
    margin-top: 15px;
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card p{
    width: 90%;
    height: 200px;
    overflow-y: scroll;

}
.contacto{
    display: flex;
    margin: 3em 0.5em;
    justify-content: space-around;
}
@media(min-width:500px){
    .p-main{
        text-align: center;
    }
    .logo{
        width: 50%;
    }
}


@media(min-width:990px){
    header{
        height: 120px;
    }
    nav{
        width: 95%;
    }  
    .navbar-nav{
        width: 100%;
    }
    .logo{
        margin-top: 30px;
        width: 20%;
    }
    ul{
        margin-left: 15%;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    ul li{
        margin: 0 15px ;
        display: flex;
        flex-direction: row;
        justify-content: center;
    } 
    .img_main{
        width: 65%;
        border-radius: 50%;
        grid-area: img_main;
    }
    .img_film{
    width: 90%;
    grid-area: img_film;
    }
    .h1-main{
        grid-area: h1-main;
    }
    .p-main{

        
        text-align: justify;
        grid-area: p-main;
    }

    .main-index{
        margin-bottom: 25px;
        width: 95%;
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: 1fr 4fr;
        gap: 15px;
        justify-items: center;
        align-items: center;
        grid-template-areas: 
        "h1-main   h1-main"
        "img_main   p-main"
        ;
    }

    .p-art-index{
        grid-area: p-art-index;
    }
    
    .h2-index{
        grid-area: h2-index;
    }

    .art-index{
        margin: 25px 10px;
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1.5fr;
        grid-template-rows: 1fr 4fr;
        justify-items: center;
        align-items: center;
        grid-template-areas:
        "h2-index   h2-index"
        "p-art-index    img_film"
        ;
    }


    .grilla-tripulacion{
        margin: 4em 1em;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .form-floating{
        width: 75%;
    }
}

